.ticket-root {
  height: auto;
  background-color: #e0ece4;
  margin: 50px;
  border: 1px solid rgb(176, 173, 180);
}

.ticket-content {
  height: 80px;
}
.ticket-title {
  color: #0d7377;
}
.ticket-description {
  color: #212121;
}
