.root {
  height: auto;
  background-color: #e0ece4;
  margin: 50px;
  border: 1px solid rgb(176, 173, 180);
}

.content {
  height: 80px;
}
.board-title {
  color: #0d7377;
}
.description {
  color: #212121;
}
